body {
    font-family: Arial, Helvetica, sans-serif;
    background: #eaeaea;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

h1 {
    text-align: center;
    color: #3a5250;
    margin-top: 2rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.card {
    border: 1px solid #5d6f67;
    background-color: #f6f0da;
    border-radius: 10px;
    text-align: center;
    padding: 2rem 2.5rem;
    box-shadow: 0px 2px 10px rgba(0,0,0,.07);
}

.card h2 {
    color: #3a5250;
    margin: .3rem 0;
    font-size: 2rem;
}

.card #description {
    text-transform: capitalize;
    color: #3a5250;
    margin: .3rem 0;
    font-size: 1.2rem;
}

.card #temperature {
    font-size: 2.3rem;
    color: #537279;
    margin: .5rem 0;
}
.card img {
    width: 80px;
    margin: 0.7rem 0;
}
